# Environments
.env
.venv/
venv/
env/
ENV/
*.dbvenv/

# Python
__pycache__/
*.pyc
*.py[cod]
*$py.class
*.so

# Caches
.pytest_cache/
.cache/
.ipynb_checkpoints/
.mypy_cache/
.ruff_cache/

# Build
dist/
build/
*.egg-info/

# Logs
*.log

# Databases
*.db
*.sqlite
*.sqlite3

# Streamlit
.streamlit/secrets.toml

# Project
cache/
exports/
main

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
.AppleDouble
.LSOverride
._*